@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat-<uniquifier> {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
  /* Reset CSS */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

  body {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    padding: 10px;
  }
header {
    background-color: #ff0e0e;
    border-radius: 6px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#principal {

    border-radius: 6px;
    height: 800px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main {
    background-color: #ff0000;
    border-radius: 6px;
    height: 100%;
    width: 74%;
}
aside {
    background-color: #ffffff;
    border-radius: 6px;
    height: 100%;
    width: 25%;

}
footer {
    background-color: #000000;
    border-radius: 6px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #f1f1f1;
    font-size: 1.2rem;
}
footer a {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: 500;
}